# Demo for `mastersign.datascience.database`

In [1]:
import pandas as pd
import numpy as np

Import the `mastersign.datascience.database` package .

In [2]:
from mastersign.datascience import database as db

## `set_default_db_conn()`

Set default connection string to be used in subsequent database queries.

This demo uses the [Sample Database from SQLite](http://www.sqlitetutorial.net/sqlite-sample-database/).

In [3]:
db.set_default_db_conn('sqlite:///demo-data/chinook.db')

The helper functions in this package are a thin wrapper over `pandas.read_sql_query()`.

## `load_table()`

Load all data from a single table.

In [4]:
users = db.load_table('customers')
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 13 columns):
CustomerId      59 non-null int64
FirstName       59 non-null object
LastName        59 non-null object
Company         10 non-null object
Address         59 non-null object
City            59 non-null object
State           30 non-null object
Country         59 non-null object
PostalCode      55 non-null object
Phone           58 non-null object
Fax             12 non-null object
Email           59 non-null object
SupportRepId    59 non-null int64
dtypes: int64(2), object(11)
memory usage: 6.1+ KB

Load selected and optionally grouped data from a single table.

In [5]:
management = db.load_table(
    'customers',
    columns=["Country", "COUNT(*) AS Count"],
    where="Company NOT LIKE 'JetBrains%'",
    group_by="Country")
management.head()

  Country  Count
0  Brazil      4
1  Canada      2
2     USA      3

## `load_query()`

Load data from an arbitrary SQL query.

In [6]:
db.load_query(
    """
    SELECT trackid, name, title
    FROM tracks
    INNER JOIN albums ON albums.albumid = tracks.albumid
    LIMIT 15 ;
    """
)

,TrackId,Name,Title
0,1,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
1,6,Put The Finger On You,For Those About To Rock We Salute You
2,7,Let's Get It Up,For Those About To Rock We Salute You
3,8,Inject The Venom,For Those About To Rock We Salute You
4,9,Snowballed,For Those About To Rock We Salute You
5,10,Evil Walks,For Those About To Rock We Salute You
6,11,C.O.D.,For Those About To Rock We Salute You
7,12,Breaking The Rules,For Those About To Rock We Salute You
8,13,Night Of The Long Knives,For Those About To Rock We Salute You
9,14,Spellbound,For Those About To Rock We Salute You
10,2,Balls to the Wall,Balls to the Wall
11,3,Fast As a Shark,Restless and Wild
12,4,Restless and Wild,Restless and Wild
13,5,Princess of the Dawn,Restless and Wild
14,15,Go Down,Let There Be Rock

## `load_scalar()`

Load the value of the first column in the first returned row from a SQL query.

In [7]:
db.load_scalar("SELECT COUNT(*) FROM tracks")

3503